// primary
@primary-color: #409eff;
@primary-hover-color: #66b1ff;
@primary-plain-background-color: #ecf5ff;
@primary-plain-border-color: #b3d8ff;

// success
@success-color: #67c23a;
@success-hover-color: #85ce61;
@success-plain-background-color: #f0f9eb;
@success-plain-border-color: #c2e7b0;

// info
@info-color: #909399;
@info-hover-color: #a6a9ad;
@info-plain-background-color: #f4f4f5;
@info-plain-border-color: #d3d4d6;

// warning
@warning-color: #e6a23c;
@warning-hover-color: #ebb563;
@warning-plain-background-color: #fdf6ec;
@warning-plain-border-color: #f5dab1;

// danger
@danger-color: #f56c6c;
@danger-hover-color: #f78989;
@danger-plain-background-color: #fef0f0;
@danger-plain-border-color: #fbc4c4;
